/*- Custom style -*/

// -- Put custom style under this point -- //

@media (max-width: 940px) {
    .content img {
        max-width: 25%;
    }
    #articleBlurb img {
        max-width: 25%;
    }
    .center img {
        max-width: 75%;
    }
}

p.float-left {
    display: block;
    float: left;
    padding-right: 10px;
}

p.float-right {
    display: block;
    float: right;
    padding-left: 10px;
}


.left img {
    float: left;
    padding-right: 10px;
}

img.left {
    float: left;
    display: block;
    padding-right: 10px;
}

.right img {
    float: right;
    padding-left: 10px;
}

img.right {
    float: right;
    display: block;
    padding-left: 10px;
}


.clear {
    clear: both;
}

.caption {
    max-width: 200px;
    width: 50%;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.caption img {
    max-width: 100%;
}

.center {
    text-align:center;
}

.center p {
    display: inline-block;
}

.uline {
    text-decoration: underline;
}

ol {
   list-style-position:inside;
}

.call {
    color: #8888DD;
}

.candy {
    color: #DD66DD;
}

.sandie {
    color: #5555FF;
}

#nextblock {
      overflow:auto;
      width:50%;
      float:right;
      text-align: right;
}

#prevblock {
      overflow:auto;
      width:50%;
      float: left;
      text-align: left;
}

@media (max-width: 500px) {
    #prevblock {
        clear:both;
        width:100%;
    }
    #nextblock {
        clear:both;
        width:100%;
    }
}

#vicpic {
    float:right;
    @media (max-width: 940px) {
        max-width:50%;
    }
}

.viclist li {
    list-style:none;
    overflow: auto;
}

.viclist img {
    vertical-align: middle;
    max-height: 32px;
    padding-right: 5px;
    @media (min-width: 940px) {
	max-height: 36px;
    }
    float: left;
}

.viclist .text {
    float: left;
}
.nb {
 white-space: nowrap;
}

.num {
 text-align: right;
}
