---
layout: default
---
<script src="js/sort.js" type="text/javascript" defer="defer"></script>
<!-- Posts -->
<ul id="posts">
  <h1>Just What <em>was</em> the Daily Victim?</h1>
  <p>
    The Daily Victim was GameSpy's daily tribute to the millions of fine people who populated Internet culture. Every weekday a new victim was posted. The most beloved victims returned in their full-color feature and continued story each week.
  </p>
  <h1>About The Daily Victim</h1>
  <table id="meta_articles" class="display" cellpadding="0" cellspacing="0">
    <thead><tr>
	<th>Date</th>
	<th>Title</th>
	<th>Authors</th>
    </tr></thead>
    <tbody>
      {% assign meta = site.collections.meta.docs | sort: 'date' %}
      {% for m in meta %}
      <tr class="Text" data-vicpicsmall="{{victim.vicpic_small}}">
	<td class="nb">{{m.date}}</td>
	<td>
	  <a href="{{site.baseurl | append: m.url}}">{{m.title | markdownify | remove_p}}</a>
	</td>
	<td class="nb">{{m.author}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h1>The Daily Victims</h1>
  <table id="dailyvictims" class="display" cellpadding="0" cellspacing="0">
    <thead><tr>
	<th>Date</th>
	<th>Score</th>
	<th>Votes</th>
	<th>Links To This</th>
        <!--
	<th>Links In This</th>
	<th>Total</th>
        -->
	<th>Color</th>
	<th>Title</th>
    </tr></thead>
    <tbody>
      {% assign victims = site.collections.article.docs | sort: 'date' %}
      {% for victim in victims %}
      {% assign inlink_len = victim.inlinks | size %}
      {% assign outlink_len = victim.outlinks | size %}
      <tr class="Text" data-vicpicsmall="{{victim.vicpic_small}}">
	<td class="nb">{{victim.date}}</td>
	<td class="nb num">{{victim.score}}</td>
	<td class="nb num">{{victim.votes}}</td>
	<td class="nb num">{{inlink_len}}</td>
        <!--
	<td class="nb num">{{outlink_len}}</td>
	<td class="nb num">{{inlink_len | plus: outlink_len }}</td>
        -->
	<td class="nb">{{victim.color}}</td>
	<td><a href="{{site.baseurl | append: victim.url}}">{{victim.title | markdownify | remove_p}}</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
