<!DOCTYPE html>
<html>
  {% include "layouts/includes/head.html" %}
  <body>
    <div id="wrap">

      <!-- Navigation -->
      {% include "layouts/includes/menu.html" %}

      <!-- Icon menu -->
      <a {% if config.extra.reverse == true %}id="nav-menu-left"{% else %}id="nav-menu"{% endif %}>
        <div id="menu"></div>
      </a>
      <!-- Header -->
      {% if config.extra.custom_header == true %}
      {% include "layouts/includes/header-custom.html" %}
      {% else %}
      {% include "layouts/includes/header.html" %}
      {% endif %}
      <!-- Main content -->
      <div id="container">

	<main>
          {% block content %}
          {% endblock conent %}
	</main>

        {#
	<!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
          <a href="{{ config.base_url }}" class="page-item">&laquo;</a>
          {% elif paginator.previous_page%}
          <a href="{{ config.base_url ~ paginator.previous_page_path }}" class="page-item">&laquo;</a>
          {% else %}
          <span class="page-item">&laquo;</span>
          {% endif %}

          {% for page in paginator.pages %}
          {% if page == paginator.page %}
          <span class="page-item">{{ page }}</span>
          {% elif page == 1 %}
          <a href="{{ config.base_url }}" class="page-item">{{ page }}</a>
          {% else %}
          <a href="{{ config.base_url ~ site.paginate_path | replace(from=':num', to=page) }}" class="page-item">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ config.base_url ~ paginator.next_page_path }}" class="page-item">&raquo;</a>
          {% else %}
            <span class="page-item">&raquo;</span>
          {% endif %}
        </div>
        {% endif %}
        #}
	  </div>
      
	    <!-- Footer -->
	  {% include "layouts/includes/footer.html" %}

	    <!-- Script -->
          {% include "layouts/includes/script.html" %} 

	</div>
</body>
</html>
