abbr {border-bottom: 1px dotted black;}
body
{
font-family: Arial, sans-serif;
font-size: 1em;
}

h1
{
font-size: 1.7em;
}

h3
{
font-size: 1.1em;
}

.odd {
 background-color: #ddd;
}
.even {
 background-color: #fff;
}
.nb {
 white-space: nowrap;
}
a img {
  outline: none;
  border: 0;
}
#articleBody img
{
    padding: 0px 5px 5px 5px;
}
#articleBlurb {
    overflow: auto;
    clear:both;
    border-style:solid;
    border-width: 1px 1px 1px 1px;
    padding: 5px;
}
/*
#articleBody p {
float: left;
}
*/
#articleBody p {
overflow:auto;
}
table.sortable {
    border-spacing: 0;
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}
table.sortable th, table.sortable td {
    text-align: left;
    padding: 2px 4px 2px 4px;
    border-style: solid;
    border-color: #aaa;
    font-size: 11px;
}
table.sortable th {
    border-width: 1px 0px 1px 0px;
    background-color: #ccc;
}
table.sortable th a {
    text-decoration: none;
    color: #000;
}
table.sortable td {
    border-width: 0px;
}
table.sortable tr.odd td {
    background-color: #fff;
}
table.sortable tr.even td {
    background-color: #ddd;
}
table.sortable tr.sortbottom td {
    border-width: 1px 0px 1px 0px;
    background-color: #ccc;
    font-weight: bold;
}
.uline {
    text-decoration: underline;
}
