/*- Custom style -*/

// -- Put custom style under this point -- //


.left {
    float: left;
    display: block;
    padding-right: 10px;
}

.right {
    float: right;
    display: block;
    padding-left: 10px;
}

.clear {
    clear: both;
}

.caption {
    width: 200px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.bigcaption {
    width: 430px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.caption img {
    margin-bottom: 0px;
}

.bigcaption img {
    margin-bottom: 0px;
}

.center {
    text-align:center;
}
.center p {
    display: inline-block;
}

.uline {
    text-decoration: underline;
}

ol {
   list-style-position:inside;
}

.call {
    color: #8888DD;
}

.candy {
    color: #DD66DD;
}

.sandie {
    color: #5555FF;
}

.prevnext {
      overflow:auto;
      width:50%;
      float:left;
}

#nextblock {
      text-align: right;
}

#prevblock {
      text-align: left;
}

#vicpic {
    float:right;
    @media (max-width: 940px) {
        max-width:50%;
    }
}


@media (max-width: 940px) {
    .content img {
        max-width: 25%;
    }
    #articleBlurb img {
        max-width: 25%;
    }
}

@media (max-width: 400px) {
    #prevblock {
        clear:both;
        width:100%;        
    }
    #nextblock {
        clear:both;
        width:100%;
    }
}
