---
layout: default
---
<article id="post-page">
    <h2>{{ page.title | markdownify | remove_p}}</h2>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>    
    <div class="content" style="overflow:auto;">
        <img style="float:right;"
             src="{{ site.baseurl | append: '/img/' | append: page.vicpic | replace: '//', '/' }}" />
        {{ content | article_cleanup: site.baseurl, site.lookup.article }}
    </div>
    <hr />
    <div id="articleBlurb" style="overflow: auto;">
        <img class="left" style="height:100px; width:100px;"
             src="{{ site.baseurl | append: '/img/' | append: page.vicpic_small | replace: '//', '/' }}"
             alt="Victim Pic Small" />
        {{ page.blurb | markdownify | article_cleanup: site.baseurl, site.lookup.article }}
    </div>
    <hr />
    <p style="text-align: right;">
    <em>
        <span rel="v:rating">
	    <span typeof="v:Rating">
	        Score: <span property="v:average">{{page.score}}</span>; 
                <span property="v:best" content="10"/>  
                <span property="v:worst" content="1"/> 
	    </span>
        </span> 
        Total Votes: <span property="v:votes">{{page.votes}}</span> as of 2009-12-09.
    </em>
    </p>
    <hr />
 
    <div style="overflow: auto;" >
    {% if page.previous %}
    <p style="text-align: left; overflow:auto; width:50%; float:left;">
        <a href="{{ site.baseurl | append: page.previous.url }}">
            <img class="left" src="{{ site.baseurl }}img/images/sub_layout/prev.gif" alt="Previous" /><br />
            <img class="left"
                 src="{{ site.baseurl | append: '/img/' | append: page.previous.vicpic_small | replace: '//', '/' }}" />
            {{ page.previous.title | markdownify | remove_p}}
        </a>
    </p>
    {% endif %}
    {% if page.next %}
    <p style="text-align: right; overflow:auto; width:50%; float:left;">
        <a href="{{ site.baseurl | append: page.next.url }}">
            <img class="right" src="{{ site.baseurl }}img/images/sub_layout/next.gif" alt="Next" /><br />
            <img class="right"
                 src="{{ site.baseurl | append: '/img/' | append: page.next.vicpic_small | replace: '//', '/' }}" />
            {{ page.next.title | markdownify | remove_p}}
        </a>
    </p>
    {% endif %}
    </div>
    <p style="text-align: center;">
        <a href="{{ site.baseurl }}">Back To Index</a>
    </p>
    <hr />
    {% assign inlinks_len = page.inlinks | size %}
    {% if inlinks_len > 0 %}
    <h3> Links to This Article </h3>
    {% for inlink in page.inlinks %}
    <ul>
        <li>
            <a href="{{ site.baseurl | append: site.lookup.article[inlink].url }}">
                {{ site.lookup.article[inlink].title | markdownify | remove_p }}
            </a>
        </li>
    </ul>
    {% endfor %}
    {% endif %}

    {% assign outlinks_len = page.outlinks | size %}
    {% if outlinks_len > 0 %}
    <h3> Links In This Article </h3>
    {% for outlink in page.outlinks %}
    <ul>
        <li>
            <a href="{{ site.baseurl | append: site.lookup.article[outlink].url }}">
                {{ site.lookup.article[outlink].title | markdownify | remove_p }}
            </a>
        </li>
    </ul>
    {% endfor %}
    {% endif %}
</article>
