---
layout: default
---
<article id="post-page">
    <h2>{{ page.title | markdownify | remove_p}}</h2>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
    <div class="content" style="overflow: auto;">
        {{ content | article_cleanup: site.baseurl, site.lookup.article }}
    </div>
    <hr />

    <div style="overflow: auto;" >
        {% if page.previous %}
        <p class="prevnext" id="prevblock">
            <a href="{{ site.baseurl | append: page.previous.url }}">
                <img id="prev" class="left" src="{{ site.baseurl }}img/images/sub_layout/prev.gif" alt="Previous" /><br />
                <span id="prevtext">
                    {{ page.previous.title | markdownify | remove_p}}
                </span>
            </a>
        </p>
        {% endif %}
        {% if page.next %}
        <p class="prevnext" id="nextblock">
            <a href="{{ site.baseurl | append: page.next.url }}">
                <img id="next" class="right" src="{{ site.baseurl }}img/images/sub_layout/next.gif" alt="Next" /><br />
                <span id="nexttext">
                    {{ page.next.title | markdownify | remove_p}}
                </span>
            </a>
        </p>
        {% endif %}
    </div>
</article>
